
#dashboard {
    display: flex;
    /*height: 87.1vh;*/
}

#dashboard-content {
    /*height: 100%;*/
    min-height: 90vh;
    width: 100%;
    padding-left: 190px;
    background-color: #E8EEF9;
    margin-top: 64px;
}

#dashboard-content h1 {
    font-size: 40px;
    margin-left: 20px;
}

#dashboard-content h2 {
    font-size: 20px;
    margin-left: 20px;
}

#dashboard-section1 {
    width: 85%;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.2);

    display: flex;
    flex-wrap: wrap;
}

.edit-frontend #dashboard-section1 {
    flex-direction: column;
}

#dashboard-section1 p {
    margin: -8px 0;
}

/* dashboard */

#map-info {
    float: right;
}

#color1, #color2, #color3, #color4 {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 15px 15px 0 0;
}

#color1 {
    background-color: #517BBE;
}

#color2 {
    background-color: #E84335;
}

#color3 {
    background-color: #FBBC09;
}

#color4 {
    background-color: #31A853;
}

#map-info p {
    margin: -22px 20px 0 25px;
}

#denmark-map {
    width: 28%;
    height: 700px;
    margin-left: auto;
    margin-right: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#map-numbers {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.map-area {
    border: 2px solid #4C4C4C;
    border-radius: 10px;
    width: 285px;
    padding: 0 20px 20px 20px;
    margin: 20px;
}

.map-area:hover {
    background-color: #E8EEF9;
}

.flex-class {
    display: flex;
}

.map-area p {
    padding: 20px 0 0 0;
}

#area1 {
    /*margin: 50px 50%;*/
}


/* page_frontpage */

#current-image {
    height: 150px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #4C4C4C;
    border-radius: 10px;
    margin-top: 10px;
}

.upload-btn-wrapper {
    /*width: 300px;*/
    margin: 30px 0 5px 0;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    /*border: 2px solid rgba(184,39,39,0.5);*/
    border-radius: 8px;
    text-align: left;
}

#imgUpload {
    width: 150px;
    height: 35px;
    color: white;
    background-color: #517BBE;
    /*margin: 5px;*/
    padding: 7px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}

#upload-file-name, #upload-file-name2 {
    font-size: 14px;
    padding: 8px 5px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#folder-images, #folder-images1, #folder-images2, #folder-images3 {
    flex-wrap: wrap;
    padding: 20px 0;
    display: none;
}

#showImg {
    height: 150px;
    width: 250px;
    /*background-size: cover;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* */

#show-folder-content {
    display: flex;
    padding: 20px 0;
}

#show-folder-content #showImg {
    position: relative;
    margin: 20px;
    border: 2px solid #4C4C4C;
    border-radius: 10px;
}

#logos-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid #4C4C4C;
    border-radius: 10px;
}

#hover-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    display: none;
}

#logos-box:hover #hover-buttons, #showImg:hover #hover-buttons {
    display: block;
}

#logos {
    max-width: 300px;
    max-height: 150px;
}


#hover-buttons #delete {
    background-color: #E84335;
    border-radius: 10px;
    width: 40px;
    padding: 0;
}

/* page_contact */

#social1-form img, #social2-form img, #social3-form img {
    width: 30px;
}